@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.choose-lang {
    @include flex-column-align-item-center;
    @include side-padding-mobile;

    @include tablet {
        @include side-padding-tab-desk;
    }

    @include desktop {
        @include side-padding-tab-desk;
    }

    &__header {
        @include header-text;
    }
    
    &__buttons {
        @include flex-direction-column;
        width: 100%;
        justify-content: center;
        gap: 1rem;

        @include tablet{
            gap: 2rem;
        }

        @include desktop{
            gap: 2rem;
        }

        &--wrapper {
            width: 100%;
            display: flex;
            gap: 1rem;

            .choose-lang__button {
                width: 100%;

                @include tablet {
                    height: 8rem;
                }

                @include desktop {
                    height: 8rem;
                }
                
            }

        }
        
    }
}