@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/fonts' as *;

.button {
    background-color: $color-primary-cta;
    color: $color-primary-text;
    border-radius: .25rem;
    height: 2rem;
    width: 5rem;
    border: none;
    padding: 0rem;
    transition: 0.3s;


    &:hover {
        background-color: $dark-green;
        border: none;
        color: $color-primary-text-light;
    }

    &:focus {
        border: none;
    }

    &_text {
        font-weight: bold;
    }
}