@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/fonts' as *;

.button {
    background-color: $color-primary-cta;
    color: $color-primary-text;
    border-radius: .25rem;
    height: 2rem;
    // max-width: 100%;
    border: none;
    padding: rem;
    transition: 0.3s;


    &:hover {
        background-color: $color-primary-cta-hover;
        border: none;
        color: $color-primary-text-light;
        cursor: pointer;
    }

    &:focus {
        border: none;
    }

    &_text {
        font-weight: bold;
        padding: 1rem;
    }
}