@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.button {
    background-color: $color-primary-cta;
    color: $color-primary-text-dark;
    border-radius: 2rem;
    height: 5rem;
    width: 100%;
    border: none;
    padding: rem;
    transition: 0.3s;


    &:hover {
        background-color: $color-primary-cta-hover;
        border: none;
        cursor: pointer;
        color: $color-primary-background;
        transform: translateY(.25rem);
    }
     
    &:active{
        cursor: pointer;
     }

    &:focus {
        border: none;
    }

    &_text {
        font-weight: bold;
        font-size: 2rem;
        padding: 0rem 1rem;
    }
}