@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

@keyframes example {
    0% {
        color:$color-primary-text;
    }

    100% {
        color: $color-primary-label;
    }
}

.grammar-vocab {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include side-padding-mobile;

    &__level {
        padding: 1rem;
        margin: 1rem 0rem;
        align-self: flex-end;
        background-color: $color-primary-cta-hover;
        border-radius: 2rem;
    }

    &__header {
        @include header-text;
        color: $color-primary-text;
    }

    &__subheader {
        color: $color-primary-text;
        animation-name: example;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    &__buttons {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        &--wrapper {
            width: 100%;
            display: flex;
            gap: 1rem;

            .choose-lang__button {
                width: 100%;
            }

        }

    }
}