@use './typography' as *;
@use './variables' as *;
@use './resets' as *;


* {
    margin: 0;
    box-sizing: border-box;

}

@mixin tablet {
    @media screen and (min-width:768px) and (max-width:1279px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width:1280px) {
        @content;
    }
}

@mixin header-text {
    color: $color-primary-text;
    max-height: 100%;
    margin: 1rem;
    text-align: center;
 
}

@mixin side-padding-mobile {
    padding: 1rem;
}

@mixin side-padding-tab-desk {
    padding: 2rem;
}

@mixin button-height-tab-desk {
    height: 8rem;
}