$off-lilac-white: #fefaff;
$pale-pink-purple: #fbecff;
$pale-lilac: #e5dbf0;
$lilac: #EBD9FC;
$bright-lilac: #c4aee9;
$dark-lilac: #ab8adf;
$dark-purple: #301f4b;
$lingo-red: #590925;
$lingo-black: #323232;

// $bright-lilac: #B47AEA;
// $light-lilac: #BD93D8;
// $pale-lilac: #d4d1d6;
// $light-blue: #9799CA;
// $aqua: #7BCDBA;
// $bright-green: #61E294;
// $dark-green: #3c8a5b;

// 



$color-primary-text: $lingo-red;
$color-primary-text-dark: $lingo-black;
$color-primary-text-light: $pale-lilac; 
$color-primary-cta: $pale-lilac; 
$color-primary-cta-hover: $dark-lilac;
$color-quiz-question-background: $pale-pink-purple;
$color-hover: $dark-lilac;
$color-primary-label: $dark-lilac;
$color-flashcard-background: $bright-lilac;
$color-flashcard-flip-background: $lilac;
$color-primary-background: $off-lilac-white;

