$bright-lilac: #B47AEA;
$light-lilac: #BD93D8;
$pale-lilac: #d4d1d6;
$light-blue: #9799CA;
$aqua: #7BCDBA;
$bright-green: #61E294;
$dark-green: #3c8a5b;
$lingo-black: #323232;
$lingo-red: #590925;



$color-primary-text: $lingo-red;
$color-primary-text-dark: $lingo-black;
$color-primary-text-light: $light-blue;
$color-primary-cta: $bright-green;
$color-primary-cta-hover: $dark-green;
$color-hover: $dark-green;
$color-primary-label: $bright-lilac;
$color-primary-background: $pale-lilac;

