@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.quiz__option {
    background-color: $color-flashcard-background;
    margin: 1.5rem;
    border-radius: 5rem;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;



    &:hover {
        background-color: $color-primary-cta-hover;
    }

    &--disabled {
        background-color: $color-primary-cta-hover;
    }

    &--text {
        padding: 0.75rem 2rem;

        @include tablet {
            align-self: center;
        }
    }

    &--correct {
        background-color: $color-flashcard-background;
    }

    &--wrong {
        background-color: red;
    }
}