@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.quiz__option {
    background-color: $color-flashcard-background;
    margin: 1rem 0rem;
    border-radius: .25rem;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background-color: $color-primary-cta-hover;
    }

    &--disabled {
        background-color: $color-primary-cta-hover;
    }

    &--text {
        padding: 0.5rem;
    }

    &--correct {
        background-color: $color-flashcard-background;
    }

    &--wrong {
        background-color: red;
    }
}