html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 3rem);
  }
  
  #root {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  main {
    flex: 1;
  }
  
  footer {
    margin-top: auto;
  }
  