@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.nav-bar {
    background-color: $color-primary-cta;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-primary-text;
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;

    &__logo-link {
        text-decoration: none;
        color: $color-primary-text;
        height: 100%;

        &:hover{
            cursor: pointer;
        }

        &:link {
            text-decoration: none;
        }
    }

    // &__link {
    //     display: flex;
    //     align-content: center;
    //     gap: 0.5rem;
    //     padding-top: 1rem;
    //     width: 100%;
        
    //     &--grammar {
    //         text-decoration: none;
    //         background-color: $color-primary-text-light;
    //         width: 100%;
    //         text-align: center;
    //         padding: 1rem;
    //         border-radius: 2rem;
    //     }

    //     &--vocab {
    //         @extend .nav-bar__link--grammar;
    //     }
    // }
}