@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/fonts' as *;

.nav-bar {
    background-color: $light-lilac;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-primary-text;
    padding: 1.5rem;

    &__logo-link {
        text-decoration: none;
        height: 100%;
    }

    &__link {
        display: flex;
        padding-top: 1rem;
        gap: 2rem;
        
        &--grammar {
            text-decoration: none;
        }

        &--vocab {
            text-decoration: none;
        }
    }
}