@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.nav-bar {
    background-color: $color-primary-cta;
    display: flex;
    align-content: center;
    justify-content: space-between;
    color: $color-primary-text;
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;

    &__link {
        text-decoration: none;
        color: $color-primary-text;
        max-height: 100%;
        display: flex;


        &:hover{
            cursor: pointer;
        }

        &:link {
            text-decoration: none;
        }

        .nav-bar__text{
           align-self: center;
        }

        .nav-bar__logo {
            align-self: center;
            width: 60%;
            height: 100%;
            object-fit: contain;
        }
    }

}