@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    &__wrapper {
        .quiz__img { 
            max-width: 50%;
        }
        
        .quiz__question {
            background-color: $color-quiz-question-background;
            border-radius: 2rem;
            padding: 1rem 0rem;

        }
    }
}