@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    @include side-padding-mobile;

    @include tablet {
        @include side-padding-tab-desk;
    }

    @include desktop {
        @include side-padding-tab-desk;
    }

    &__header {
        @include desktop {
            align-self: flex-start;
        }
    }

    &__score-count {
        padding: 1rem 2rem;
        margin: 1rem 0rem;
        width: 5rem;
        border-radius: 2rem;
        background-color: $color-quiz-question-background;
        text-align: center;

        @include desktop {
            align-self: flex-start;
        }
    }
    &__wrapper {
        display: flex;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
        }

        .quiz__img { 
            max-width: 50%;
            align-self: center;

            @include tablet {
                width: 40%;
            }

            @include desktop {
                width: 30%;
                align-self: center;
                justify-self: flex-start;
            }
        }
        
        .quiz__question {
            background-color: $color-quiz-question-background;
            border-radius: 2rem;
            padding: 1rem 0rem;
            display: flex;
            flex-direction: column;

            @include desktop {
                width: 80%;
                align-self: center;
            }

        }

        .quiz__next {
            width: auto;
            align-self: start;
            margin-left: 1rem;
        }
    }
}