@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 50%;
    color: $color-primary-text;
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;

    &__link {
        text-decoration: none;
        color: $color-primary-text;
        height: 100%;

        &:hover{
            cursor: pointer;
        }

        &:link {
            text-decoration: none;
        }
    }
    }