@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/resets' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;


.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    line-height: 2.5rem;
    text-align: center;
    @include side-padding-mobile;

    @include tablet {
        @include side-padding-tab-desk;
    }
    
    &__header {
        @include header-text;
    }

    &__logo {
        padding-bottom: 2rem;
        width: 90%;

        @include tablet {
            width: 60%;
        }
    }

    &__button {
        padding: 1rem;

        @include tablet {
            width: 50%;
        }
        &-text {
            font-size: 1.5rem;
        }
    }


}