@font-face {
    font-family: 'Dongle';
    src: url("../../assets/font/Dongle-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dongle';
    src: url("../../assets/font/Dongle-Regular.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dongle';
    src: url('../../assets/font/Dongle-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

